<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Debug" value="true" />

    <add key="API.Url" value="http://+:1337/" />

    <add key="Smtp.Enabled" value="false" />
    <add key="Smtp.Host" value="TODO" />
    <add key="Smtp.Port" value="25" />
    <add key="Smtp.Sender" value="info@fordere.ch" />
    <add key="Smtp.EnableSsl" value="true" />
    <add key="Smtp.UseDefaultCredentials" value="false" />
    <add key="Smtp.AuthUser" value="info@fordere.ch" />
    <add key="Smtp.AuthPassword" value="TODO" />

    <add key="DB.Host" value="127.0.0.1" />
    <add key="DB.Name" value="fordere" />
    <add key="DB.User" value="root" />
    <add key="DB.Pass" value="root" />

    <add key="Calendar.EncPass" value="superRandomPassword3718123123$$$!" />

    <add key="CORS.Enabled" value="true" />
    <add key="CORS.AllowedOrigins" value="http://127.0.0.1:8000" />

    <add key="Redis.Enabled" value="false" />
    <add key="Redis.Ip" value="127.0.0.1" />
    <add key="Redis.Port" value="6379" />

    <add key="STRIPE.key" value="TODO" />

    <add key="Sms.Enabled" value="false" />
    <add key="Sms.From" value="fordere" />
    <add key="Sms.Authorization.Token" value="TODO" />

    <add key="jwt.AuthKeyBase64" value="TODO" />
    <add key="jwt.RequireSecureConnection" value="false" />
    <add key="apikey.RequireSecureConnection" value="false" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.19.0" newVersion="8.0.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.4.7.0" newVersion="2.4.7.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>