<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="dbup" version="4.3.0" targetFramework="net472" />
  <package id="dbup-core" version="4.3.1" targetFramework="net472" />
  <package id="dbup-mysql" version="4.3.0" targetFramework="net472" />
  <package id="dbup-sqlserver" version="4.3.1" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.7.9" targetFramework="net472" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.4.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.7" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net472" />
  <package id="ServiceStack" version="5.8.0" targetFramework="net472" />
  <package id="ServiceStack.Client" version="5.8.0" targetFramework="net472" />
  <package id="ServiceStack.Common" version="5.8.0" targetFramework="net472" />
  <package id="ServiceStack.Interfaces" version="5.8.0" targetFramework="net472" />
  <package id="ServiceStack.OrmLite" version="5.8.0" targetFramework="net472" />
  <package id="ServiceStack.OrmLite.MySql" version="5.8.0" targetFramework="net472" />
  <package id="ServiceStack.Text" version="5.8.0" targetFramework="net472" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Transformer.VisualStudio" version="1.2.0.76" targetFramework="net45" />
</packages>