<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Debug" value="${Debug}"/>

    <add key="API.Url" value="${API.Url}" />

    <add key="Smtp.Enabled" value="${Smtp.Enabled}" />
    <add key="Smtp.Host" value="${Smtp.Host}" />
    <add key="Smtp.Port" value="${Smtp.Port}" />
    <add key="Smtp.Sender" value="${Smtp.Sender}" />
    <add key="Smtp.EnableSsl" value="${Smtp.EnableSsl}" />
    <add key="Smtp.UseDefaultCredentials" value="${Smtp.UseDefaultCredentials}" />
    <add key="Smtp.AuthUser" value="${Smtp.AuthUser}" />
    <add key="Smtp.AuthPassword" value="${Smtp.AuthPassword}" />

    <add key="DB.Host" value="${DB.Host}" />
    <add key="DB.Name" value="${DB.Name}" />
    <add key="DB.User" value="${DB.User}" />
    <add key="DB.Pass" value="${DB.Pass}" />

    <add key="Calendar.EncPass" value="${Calendar.EncPass}" />

    <add key="CORS.Enabled" value="${CORS.Enabled}" />
    <!-- [if ${CORS.Enabled}] -->
    <add key="CORS.AllowedOrigins" value="${CORS.AllowedOrigins}" />
    <!-- [endif] -->

    <add key="Redis.Enabled" value="${Redis.Enabled}" />
    <add key="Redis.Ip" value="${Redis.Ip}" />
    <add key="Redis.Port" value="${Redis.Port}" />

    <add key="STRIPE.key" value="${STRIPE.key}" />

    <add key="Sms.Enabled" value="${Sms.Enabled}" />
    <add key="Sms.From" value="${Sms.From}"/>
    <add key="Sms.Authorization.Token" value="${Sms.Authorization.Token}"/>

    <add key="jwt.AuthKeyBase64" value="${jwt.AuthKeyBase64}" />
    <add key="jwt.RequireSecureConnection" value="${jwt.RequireSecureConnection}" />
    <add key="apikey.RequireSecureConnection" value="${apikey.RequireSecureConnection}" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>